<div class="list-view"
  ng-class="{'mobile-hide': chatView}"
  ng-controller="ConversationsCtrl"
  ng-init="broadcaster='Faye'">

  <div class="nav-panel">
    <a href="/account" target="_self" class="nav-btn"><%= current_user.name %></a>
    /
    <% if current_user.admin? %>
      <a href="/settings" target="_self" class="nav-btn">Settings</a>
      /
      <a href="/members" target="_self" class="nav-btn">Members</a>
      /
    <% end %>
    <a href="/logout" target="_self" class="logout">Logout</a>
  </div>

  <div class="filters-panel">
    <input type="text" placeholder="Search"/>
  </div>

  <div class="conversations">
    <div class="conversation"
      ng-repeat="conversation in conversations"
      ng-click="openChat(conversation.id)">
      <div class="name">{{conversation.user.name || "Guest"}}</div>
      <div class="time">{{ conversation.updated_at|readableTime }}</div>
    </div>
  </div>
</div>

<div class="chat" ng-class="{'mobile-hide': conversationsView}" ng-view></div>
