<div class="list-view"
  ng-class="{'mobile-hide': chatView}"
  ng-controller="ConversationsCtrl"
  ng-init="broadcaster='Faye'">

  <div class="panel">
    <input type="text" placeholder="Search"/>
    <a href="/logout" class="logout">Logout</a>
  </div>

  <div class="conversations">
    <div class="conversation" ng-repeat="conversation in conversations" ng-click="openChat(conversation.sender.id)">
      <div class="name">{{conversation.sender.name || "Guest"}}</div>
      <div class="time">{{ conversation.created_at|readableTime }}</div>
      <div class="teaser">{{ conversation.content|tease }}</div>
    </div>
  </div>
</div>

<div class="chat" ng-class="{'mobile-hide': conversationsView}" ng-view></div>
