<div class="list-view"
  ng-class="{'mobile-hide': chatView}"
  ng-controller="ConversationsCtrl"
  ng-init="broadcaster='Faye'">

  <div class="nav-panel">
    <%= link_to(
      current_user.name,
      "/members/#{current_user.id}/edit",
      target: "_self",
      class: "nav-btn")
    %>
    /
    <% if current_user.admin? %>
      <a href="/members" target="_self" class="nav-btn">Members</a>
      /
      <a href="/settings" target="_self" class="nav-btn">Settings</a>
      /
    <% end %>
    <a href="/logout" target="_self" class="logout">Logout</a>
  </div>

  <div class="filters-panel">
    <input type="text" placeholder="Search"/>
    Filter by
    <select>
      <% User.support_team.each do |user| %>
        <option value="unassigned">-- Unassigned --</option>
        <option value="all">-- All --</option>
        <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>
  </div>

  <div class="conversations">
    <div class="conversation"
      ng-repeat="conversation in conversations"
      ng-click="openChat(conversation.id)">
      <div class="name">{{conversation.user.name || "Guest"}}</div>
      <div class="time">{{ conversation.updated_at|readableTime }}</div>
    </div>
  </div>
</div>

<div class="chat" ng-class="{'mobile-hide': conversationsView}" ng-view></div>
