<div class="list-view"
  ng-class="{'mobile-hide': chatView}"
  ng-controller="ConversationsCtrl"
  ng-init="broadcaster='Faye'">

  <div class="panel">
    <input type="text" placeholder="Search"/>
    <a href="/logout" class="logout">Logout</a>
  </div>

  <div class="conversations">
    <div class="conversation" ng-repeat="conversation in conversations" ng-click="openChat(conversation.id)">
      <div class="name">{{conversation.user.name || "Guest"}}</div>
      <div class="time">{{ conversation.updated_at|readableTime }}</div>
    </div>
  </div>
</div>

<div class="chat" ng-class="{'mobile-hide': conversationsView}" ng-view></div>
