<div class="conversations" ng-controller="ConversationsCtrl">
  <div class="conversation" ng-repeat="conversation in conversations">
    <div class="user">
      <div class="name">{{conversation.user.name}}</div>
      <div class="meta">{{conversation.description}}</div>
    </div>
  </div>    
</div>

<div class="chat" ng-view></div>
