<div class="conversations" ng-controller="ConversationsCtrl">
  <div class="conversation" ng-repeat="conversation in conversations">
    <div class="name">{{conversation.sender.name || "Guest"}}</div>
    <div class="time">{{ conversation.created_at|readableTime }}</div>
    <div class="teaser">{{ conversation.content|tease }}</div>
  </div>    
</div>

<div class="chat" ng-view></div>
