This is an example page that has a support widget.

<script src="http://localhost:3000/assets/xdm_protocol.js"></script>
<script src="http://localhost:3000/widgets/support-widget.js"></script>
<script type="text/javascript">
  new RadPikeWidget({
    containerId: "widgets",
    events: {
      chatStart: function() {
        console.log("Chat started ~!");
      },
      chatMessage: function(activity) {
        console.log("New message event: ", activity);
      },
      chatClose: function() {
        console.log("Chat closed ~!");
      }
    }
  })
</script>

<div id="widgets"
  style="right: 0; bottom: 0; position: absolute; width: 20em; height: 2em; border: 1px solid #CCC; box-shadow: 0px -2px 3px 1px #CCC">
</div>
