This is an example page that has a support widget.

<script src="http://localhost:3000/assets/easyxdm.js"></script>
<script src="http://localhost:3000/widgets/support-widget.js"></script>
<script type="text/javascript">
  new RadPikeWidget({
    containerId: "widgets",
    start: true,
    events: {
      onChatStart: function() {
        console.log("Chat started ~!");
      },
      onChatMessage: function(activity) {
        console.log("New message event: ", activity);
      },
      chatClose: function() {
        console.log("Chat closed ~!");
      }
    }
  })
</script>

<div id="widgets">
</div>
