@import "../mixins";
@include box-sizing;

$main-width: 100%;

body {
  overflow-y: hidden;
}

.chat {
  height: 100%;
  float: right;
  width: $main-width;

  .chat-input-wrapper {
    width: $main-width - 5%;
    position: absolute;
    bottom: 0em;
    height: 3em;

    .chat-input {
      width: 95%;
      margin-left: 1%;
      margin-top: 0.5em;
      font-size: 1em;
      margin-bottom: 0.25em;
    }
  }
}

@include conversation-activities(0em);
