<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <title>RadPike</title>

  <meta content="True" name="HandheldFriendly"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

  <%= stylesheet_link_tag    "embeds/support", media: "all" %>
  <%= javascript_include_tag "/remote/faye/client.js" %>
  <%= javascript_include_tag "embeds/base" %>

  <%= csrf_meta_tags %>
</head>

<body>

  <div onclick="angular.bootstrap(document.body, ['RadPike']); this.style.display='none'">start</div>
  <div class="chat" ng-view></div>

</body>
</html>
