<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <title>RadPike</title>

  <meta content="True" name="HandheldFriendly"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

  <meta name="google" value="notranslate" />

  <%= stylesheet_link_tag    "embeds/support", media: "all" %>
  <%= javascript_include_tag "embeds/base" %>

  <%= javascript_tag do %>
    $(document).ready(function(){
      var startWidget = function() {
        angular.bootstrap(document.body, ['RadPike']);
        document.getElementById("support-intro").style.display="none";
      }

      if(window.parent.RadPikeWidget.startWidget) startWidget();
    });
  <% end %>

  <%= csrf_meta_tags %>
</head>

<body>

  <div id="support-intro" onclick="startWidget()">start</div>
  <div class="chat" ng-view></div>

</body>
</html>
