$main-width: 70%;

.chat {
  height: 100%;
  float: right;
  width: $main-width;

  .chat-input-wrapper {
    width: $main-width;
    position: absolute;
    bottom: 0em;
    height: 4em;

    .chat-input {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 1em;
    }
  }

  .info-bar {
    .controls {
      margin-top: 0.5em;
      @include chat-controls;
      float: left;
      clear: left;
    }

    .nav {
      @include chat-controls;
      margin-right: 2%;
    }

    width: 100%;
    padding: 0.4em;
    background: #597DCE;
    font-size: 1em;
    color: #FFF;
    letter-spacing: 0.1em;

    .user-info {
      margin-top: 0.2em;
      margin-left: 0.25em;
    }
  }
}

@include conversation-activities(5em);