.chat {
  float: right;
  //TODO this will also change for mobile
  width: 70%;
  height: 100%;

  .messages {
    height: 90.5%;
  }

  .chat-input {
    //TODO this will also change for mobile
    width: 70%;
    position: absolute;
    bottom: 0px;
    min-height: 3em;
    padding-bottom: 1%;

    textarea {
      width: 90%;
      min-height: 2.5em;
      bottom: 0px;
      height: 100%;
      margin-top: 1%;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 1em;
    }
  }

  .info-bar {
    width: 100%;
    padding: 1em;
    background: #597DCE;
    font-size: 1em;
    color: #FFF;
    letter-spacing: 0.1em;

    .user-info {
    }

    .controls {
      //TODO float right for desktop only
      float: right;
      a {
        border-radius: 3px;
        border: 1px solid #EEE;
        text-transform: uppercase;
        color: #FFF;
        font-size: 0.7em;
        text-decoration: none;
        padding: 0.4em;
        margin-left: 1em;

        &:hover {
          background: #FFF;
          color: #597DCE;
        }
      }
    }
  }

}