@mixin box-sizing {
  * {
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
  }
}

div { float: left; }

@mixin chat-control-buttons {

  button {
    border-radius: 3px;
    border: 1px solid #EEE;
    text-transform: uppercase;
    color: #FFF;
    font-size: 0.7em;
    text-decoration: none;
    padding: 0.4em;
    background: #597DCE;
    cursor: pointer;

    &:hover {
      background: #FFF;
      color: #597DCE;
    }
  }

}

@mixin admin_manage_controls {
  .add-btn {
    background: #696;
    color: #FFF;
    text-decoration: none;
    padding: 4px;
    border-radius: 0.15em;
  }
}

@mixin admin_form_controls {
  .actions {
    clear: both;
    width: 100%;
    margin-top: 1em;
    padding-top: 1em;

    input {
      background: #EEE;
      font-size: 1.2em;
      border-radius: 0.2em;
      color: #555;
    }
  }
}

@mixin desktop-styles {
  body {
    overflow-y: hidden;
  }
}

@mixin chat-controls {
  @include chat-control-buttons;

  .chat-actions-menu, .participations-menu {
    .menu-switch  { display: block; }
    .chat-actions, .participations-options {
      position: absolute;
      display: none;
      z-index: 10;
      top: 3.9em;
      background: #FFF;
      padding: 0.5em 0.5em 0.5em 0.5em;
      box-shadow: 0px 2px 2px 1px #CCC;
      color: #333;
    }

    &:hover {
      .menu-switch {
        background: #FFF;
        color:#597DCE;
        box-shadow: -1px 0px 0px 0px #CCC;
      }
    }
  }


  //#NOTE optimize for mobile
  .chat-actions-menu {
    margin-left: 0.5em;
    .chat-actions {
      margin: 0em;
      padding: 1em;
      li { clear: both; list-style-type: none; }
    }

    &:hover {
      .chat-actions {
        display: block;
        li, button { width: 100%; }
      }
    }
  }

  .participations-menu {
    .participations-options {
      width: 25em;
    }
    &:hover {
      .participations-options {
        display: block;
      }
    }
  }

}


@mixin conversation-activities($top) {
  .activities {
    overflow-y: scroll;
    width:  $main-width;
    position: absolute;
    top: $top;
    right: 0em;
    bottom: 4em;
  }

  .activities-inner-wrapper { width: 100%; }

  .activity-wrapper {
    width: 100%;

    .activity {
      width: 90%;
      margin-top: 1%;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 0.9em;

      .sender {
        font-weight: bold;
        margin-right: 0.5em;
      }
    }
  }
}


@mixin mobile-styles {
  .list-view { width: 100%; }
  .chat {
    width: 100%;
    .chat-input { width: 100%; }
  }
  .mobile-hide { display: none; }
  .mobile-show { display: inline; }
}
