<div class="members">
    <% @users.each do |user| %>
      <div class="member">
        <div class="name">
          <%= user.name %>
        </div>
        <div class="email">
          <%= user.email %>
        </div>
        <div class="actions">
          <%= link_to "Edit", edit_member_path(user) %>
          <%= link_to "Remove", edit_member_path(user) %>
        </div>
      </div>
    <% end %>
</div>
